<h1>New host</h1>

<%= error_messages_for :host %>

<% form_for(@host) do |f| %>
  <p>
    <b>Ip address</b><br />
    <%= f.text_field :ip_address %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', hosts_path %>
